body {
  margin: 0;
  font-family: 'Star Jedi', sans-serif;
  background-image: url('../public/images/galaxy-night-view.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  color: #fff;
}

@import url('https://starwars-fonts.netlify.app/fonts.css');